<div class="card">
  <div class="header">
    <h4 class="title">{{pie.title}}</h4>
    <p class="category">{{pie.category}}</p>
  </div>
  <div class="content">
    <div class="ct-chart ct-perfect-fourth" #chart></div>

    <div class="footer">
      <div class="chart-legend">
        <i class="fa fa-circle text-info"></i> Open
        <i class="fa fa-circle text-danger"></i> Bounce
        <i class="fa fa-circle text-success"></i> Unsubscribe
      </div>
      <hr>
      <div class="stats">
        <i class="ti-timer"></i> Campaign sent 2 days ago
      </div>
    </div>
  </div>
</div>