    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-warning text-center">
                                    <i class="ti-server"></i>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers">
                                    <p>Total Crimes</p>
                                    {{numCrimes[index]}}
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <hr />
                            <div class="stats">
                                <i class="ti-calendar"></i>In The last <select 
                                    class="custom-select" (change)="crimeSelectChange($event.target.value)">
                                  <option selected value="0">All Time</option>
                                  <option value="1">Jan</option>
                                  <option value="2">Feb</option>
                                  <option value="3">Mar</option>
                                  <option value="4">Apr</option>
                                  <option value="5">May</option>
                                  <option value="6">Jun</option>
                                  <option value="7">Jul</option>
                                  <option value="8">Aug</option>
                                  <option value="9">Sept</option>
                                  <option value="10">Oct</option>
                                  <option value="11">Nov</option>
                                  <option value="12">Dec</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-success text-center">
                                    <i class="ti-wallet"></i>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers">
                                    <p>Value Of Goods Stolen</p>
                                    {{sumOfStolen | currency:'CAD':'symbol-narrow':'4.2-2'}}
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <hr />
                            <div class="stats">
                                <i class="ti-calendar"></i>In The last <select
                                  class="custom-select">
                                  <option selected>All Time</option>
                                  <option value="1">Jan</option>
                                  <option value="2">Feb</option>
                                  <option value="2">Mar</option>
                                  <option value="2">Apr</option>
                                  <option value="2">May</option>
                                  <option value="2">Jun</option>
                                  <option value="2">Jul</option>
                                  <option value="2">Aug</option>
                                  <option value="2">Sept</option>
                                  <option value="2">Oct</option>
                                  <option value="2">Nov</option>
                                  <option value="2">Dec</option>
                                
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-danger text-center">
                                    <i class="ti-pulse"></i>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers">
                                    <p>Total Visitors</p>
                                    23
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <hr />
                            <div class="stats">
                                All Time
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-info text-center">
                                    <i class="ti-twitter-alt"></i>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers">
                                    <p><a href="https://twitter.com/VancouverPD">Report Crime</a></p>
                                    +45
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <hr />
                            <div class="stats">
                                <i class="ti-reload"></i> Updated now
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                <div class="card" >
                    <div class="header">
                        <h4 class="title">Crime Rate</h4>
                        <p class="category">Between 2003-2016</p>
                    </div>
                    <div class="content">
                       <!-- //Zac, (2) All the html content for the charts on the dashboard is here -->
                       
                        <div id="chartHours" class="ct-chart">

                        </div>
                        <div class="footer">
                            <div class="chart-legend">
                                <i class="fa fa-circle text-info"></i> Theft
                                <i class="fa fa-circle text-danger"></i> Other Crimes
                                <i class="fa fa-circle text-warning"></i> Vehicle Collisions
                            </div>
                            <hr>
                            <div class="stats">
                                <i class="ti-reload"></i> <a
                                  href='https://vancouver.ca/your-government/open-data-catalogue.aspx'>From CoV Data
                                  Catalouge</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- starts and shit -->
        <div class="row">
            <div class="col-md-12" *ngIf="carsLoaded">
                <app-tablechart [size]="3" [data]="allCarsStolen"></app-tablechart>
            </div>
        </div>
        <!-- Pie charts -->

        <div class="row">
                        <div class="col-md-6">
                          <div class="card">
                            <div class="header">
                              <h4 class="title">Crimes by Neighbourhood</h4>
                              <select class="custom-select">
                                <option value="1" selected>Point Grey</option>
                                <option value="2">Kitsilano</option>
                                <option value="3">Westend</option>
                              </select>
                            </div>
                            <div class="content">
                                
                                
                              <div id="chartPreferences" class="ct-chart ct-perfect-fourth"></div>
                              <div class="footer">
                                <div class="chart-legend">
                                  <i class="fa fa-circle text-info"></i> Vehicle Collisions
                                  <i class="fa fa-circle text-danger"></i> Violent Crimes
                                  <i class="fa fa-circle text-warning"></i> Theft
                                </div>
                                <hr>
                                <div class="stats">
                                  <i class="ti-timer"></i> <a
                                    href='https://vancouver.ca/your-government/open-data-catalogue.aspx'>From CoV Data
                                    Catalouge</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
             <div class="col-md-6">
               <div class="card">
                 <div class="header">
                   <h4 class="title">Languages by Neighbourhood</h4>
                   <select class="custom-select">
                     <option selected>Point Grey</option>
                     <option value="1">Point Grey</option>
                     <option value="2">Kitsilano</option>
                     <option value="3">Westend</option>
                   </select>
                 </div>
                 <div class="content">
                   <div id="chartLang" class="ct-chart ct-perfect-fourth"></div>

                   <div class="footer">
                     <div class="chart-legend">
                       <i class="fa fa-circle text-info"></i> English
                       <i class="fa fa-circle text-danger"></i> Cantonese
                       <i class="fa fa-circle text-warning"></i> Mandrin
                     </div>
                     <hr>
                     <div class="stats">
                       <i class="ti-timer"></i> <a
                         href='https://vancouver.ca/your-government/open-data-catalogue.aspx'>From CoV Data
                         Catalouge</a>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
        </div>

    </div>
